* {
    font-family: courier;
}

h1 {
    font-family: courier, sans-serif;
    background-color: aliceblue;
    color: rgb(143,151,121);
    text-align: center;
}

h1#ac {
    background-color: white;
    color: green
}

ul li {
    font-weight: bold;
}

.pink {
    background-color: brown;
}

.white {
    background-color: #e5e5e5;
}

.blue {
    background-color: rgb(135,206,230);
}