* {
    font-family: courier;
}

h1 {
    font-family: courier, sans-serif;
    background-color: aliceblue;
    color: rgb(143,151,121);
    text-align: center;
}

h1#ac {
    background-color: white;
    color: green
}

ul.home {
    color: greenyellow;
}

ul li {
    background-color: bisque;
}

.one {
    background-color: azure;
}

.three {
    color: red;
}


.pink {
    background-color: brown;
}

.white {
    background-color: #e5e5e5;
}

.blue {
    background-color: rgb(135,206,230);
}

p.apples {
    font-style: italic;
    background-color: bisque;
}

.lapple {
    font-weight: bold;
    background-color: aquamarine;

}

.pizza {
    color: red;
    background-color: brown;
}

.what {
    font-style: italic;
    background-color: blueviolet;
    color: blue;
}